
a:link {
	font-family: "ו";
	font-size: 36px;
	font-weight: bold;
	color:#000000; 
	text-decoration: none;
}
a:visited {
	font-family: "ו";
	font-size: 36px;
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	font-family: "ו";
	font-size: 36px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
